* {
	font-size:1vw;

}
.title {
	font-size: 50px;
	
	display: inline-block;
}

.settingsButton{
	position:relative;
}
.settingsButton p {
	margin-top: 3px;
	margin-bottom: 3px;
}

.settingsButton:hover{
	text-decoration:underline;
}

.box{
	border:solid;
	box-sizing:border-box;
}

.hNavBox {
	border-right:solid;
	box-sizing: border-box;
	flex: auto;
}

.hNavContainer {
	border: solid;
	border-right: none;
	box-sizing: border-box;
	display: flex;
}

.box[selected="true"] {
	
}

.box[selected="false"] {
	background-color:lightgray;
}

.settingsBar {
	margin-left: 80vw;
	position:absolute;
	border-bottom: solid black;
	display:inline-block;
}